@using TrainsApp.Models.ViewModel
@using TrainsApp.Models.DB
@{
    ViewBag.Title = "Расписание";
}


@{
    TimetableViewModel timetableView = ViewBag.TimetableView;
    Html.RenderPartial("Add", timetableView);

}


    <div> 
           @*@Html.ActionLink("Добавить", "AddTimetable", "Timetable")*@
    </div>
<h2>Расписание</h2>
@if (ViewBag.Timetables.Count != 0)
{
    foreach (var timetable in ViewBag.Timetables)
    {
        @TimetableHelper(timetable)
    }
}
@helper TimetableHelper(Timetable timetable) 
{

<table border="1" class="my-table">

    <tr>
        <td id="TrainNumber">
            Номер поезда
        </td>
        <td id="Way">
            Путь
        </td>
        <td id="Platform">
            Платформа
        </td>
        <td id="Destiantion">
           Назначение/Прибытие
        </td>
        <td id="DepartureTime">
           Время прибытия
        </td>
        <td id="ArrivalTime">
            Время отправления
        </td>
    </tr>
    <tr>
        <td headers="TrainNumber">
            @timetable.TrainNumber
        </td>
        <td headers="Way">
            @timetable.Way
        </td>
        <td headers="Platform">
            @timetable.Platform
        </td>
        <td headers="Destination">
            @timetable.Destination
        </td>
        <td headers="DepartureTime">
            @timetable.DepartureTime.ToString("H:mm")
        </td>
        <td headers="ArrivalTime">
            @timetable.ArrivalTime.ToString("H:mm")
        </td>
    </tr>
</table>
       
  
        }
