@using TrainsApp.Models.ViewModel
@using TrainsApp.Models.DB
@{
    ViewBag.Title = "Расписание";
}


@*@{
        TimetableViewModel timetableView = ViewBag.TimetableView;
        Html.RenderPartial("Add", timetableView);

    }*@


<div>
    @Html.ActionLink("Добавить", "Add", "Timetable")
</div>


<div>
  
</div>
<h2>Расписание</h2>
<table border="1" class="my-table2">

    <tr>
        <td id="TrainNumber">
            Номер поезда
        </td>
        <td id="Way">
            Путь
        </td>
        <td id="Platform">
            Платформа
        </td>
        <td id="Destiantion">
            Назначение/Прибытие
        </td>
        <td id="DepartureTime">
            Время прибытия
        </td>
        <td id="ArrivalTime">
            Время отправления
        </td>
       
        
    </tr>
    @if (ViewBag.Timetables.Count != 0)
    {
        foreach (var timetable in ViewBag.Timetables)
        {
            @TimetableHelper(timetable)
        }
    }
</table>
    @helper TimetableHelper(Timetable timetable)
    {


<tr>
    <td>
        @timetable.TrainNumber
    </td>
    <td>
        @timetable.Way
    </td>
    <td>
        @timetable.Platform
    </td>
    <td headers="Destination">
        @timetable.Destination
    </td>
    <td>
        @timetable.DepartureTime.ToString("H:mm")
    </td>
    <td>
        @timetable.ArrivalTime.ToString("H:mm")
    </td>
    <td>@Html.ActionLink("Изменить", "Change", "Timetable")</td>
</tr>



    }
